@font-face {
  font-family: "JetBrainsMono";
  src: url('assets/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url('assets/SourceHanSerifCN-Regular.otf');
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url('assets/SourceHanSerifCN-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Cantarell";
  src: url('assets/Cantarell-VF-fixed.otf');
}


body {
  /* background-color: #f6f8fa; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SourceHanSerifCN';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrainsMono',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d7dde7;
}

::-webkit-scrollbar {
  width: .8rem;
}