@font-face {
  font-family: "JetBrainsMono";
  src: url('assets/font/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url('assets/font/SourceHanSerifCN-Regular.otf');
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url('assets/font/SourceHanSerifCN-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Cantarell";
  src: url('assets/font/Cantarell-VF-fixed.otf');
}

body,textarea {
  background-color: #fcfdff;
  margin: 0;
  text-align: justify;
  font-family: Cantarell,SourceHanSerifCN;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #40464f;

}

code {
  font-family: 'JetBrainsMono',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #d7dde7af;
}

::-webkit-scrollbar {
  width: .8rem;
}

::selection {
  background: #c8d2e183;
}